<div class="row">
  <h1 class="page-header">
      Create New Place
  </h1>
  <form ng-submit="createPlace()">
      <div class="form-group">
          <label>Name: </label>
          <input type="text" ng-model="place.name" class="form-control" />
      </div>
      <div class="form-group">
          <label>Island:</label>
          <input type="text" ng-model="place.island" class="form-control" />
      </div>
      <div class="form-group">
          <label>Moku:</label>
          <input type="text" ng-model="place.moku" class="form-control" />
      </div>
      <div class="form-group">
          <label>Latitude:</label>
          <input type="text" ng-model="place.location.latitude" class="form-control" />
      </div>
      <div class="form-group">
          <label>Longitude:</label>
          <input type="text" ng-model="place.location.longitude" class="form-control" />
      </div>
      <button class="btn btn-success" type="submit">Add</button>      
  </form>
</div>

