<md-dialog aria-label="Create New Place" > 
<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Create New Place</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="placeCtrl.cancel()"> x </md-button>
	</div>
</md-toolbar> 
<md-dialog-content>
	<div class="md-dialog-content" layout="column">
		<form ng-submit="$event.preventDefault()">
			<md-input-container flex>
				<label>Name: </label> 
				<input type="text" ng-model="place.name"/>
			</md-input-container>
			<md-content>
				<h4>Island : {{place.island}}</h4>
				<h4>Moku : {{place.moku}}</h4>
				<h4>Latitude : {{place.location.latitude}}</h4>
				<h4>Longitude : {{place.location.longitude}}</h4>
				<h4>Zoom : {{place.location.zoom}}</h4> 
			</md-content>			
		</form>
	</div>
</md-dialog-content>
<div class="md-actions">
	<md-button aria-label="Add" ng-show="isPlaceAdd" ng-click="placeCtrl.placeAdd()">Add</md-button>
	<md-button aria-label="Save" ng-hide="isPlaceAdd" ng-click="placeCtrl.placeSave()">Save</md-button>
</div>
</md-dialog>