<div ng-cloak>
	<md-content> 
		<md-tabs md-dynamic-height md-border-bottom> 
			<md-tab	label="Moolelo"> 
				<md-content class="md-padding">
					<div layout="column" layout-padding>
						<h2 class="page-header">Create New Mo'olelo</h2>
						<form ng-submit="mooleloCreate()">
							<div layout="row">
								<md-input-container flex> <label>Title: </label> <input type="text"
									ng-model="moolelo.title" /> </md-input-container>
								<md-input-container flex> <label>Approx. Date:</label> <input type="text"
									ng-model="moolelo.estDate" /> </md-input-container>
							</div>
							<md-input-container class="md-block" flex> <label>Summary:</label> <textarea
								ng-model="moolelo.summary" columns="1" md-maxlength="100" rows="2"></textarea> </md-input-container>
							<md-input-container class="md-block" flex> <label>Text:</label> <textarea
								ng-model="moolelo.text" columns="1" md-maxlength="10000" rows="3"></textarea> </md-input-container>	
						</form>
					</div>
				</md-content> 
			</md-tab> 
			
			<md-tab label="Places"> 
				<md-content class="md-padding"> 
					<h3>
						List of Places					
						<md-button type="button" ng-click="addPlaceDialog($event)" class="md-raised md-primary">	
							Add Place 
						</md-button>
					</h3>					
					<script type="text/ng-template" id="control.tpl.html">
					 <div layout-margin> 
       				 	<div id="markerControl" class="btn btn-success grabbable" ng-class="{'btn-warning': danger}"
							ng-mousemove="controlMouseMove($event)" ng-mousedown="controlMouseDown($event)">							
							<i class="material-icons">add_location</i>
							<br/>{{controlText}}
						</div>
						<img draggable ng-src="assets/google_marker.png">	
					</div>
    				</script>
    				<div layout="row" >
						<ui-gmap-google-map center='map.center' events='map.events' zoom='map.zoom' control="map.control" flex="75" >
							<ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="-1">
							</ui-gmap-map-control>		
							<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" options="m.options" events="m.events" idkey="m.id"></ui-gmap-marker>		
						</ui-gmap-google-map>								
						<div layout="column" flex="25"  >
							<md-card ng-repeat="place in moolelo.places" layout="row" layout-padding > 
								<md-card-title flex="65"> 
									<md-card-title-text> 
										<ul>
											<li class="">Place : {{place.name}}</li> 
											<li class="">Island : {{place.island}}</li> 
											<li class="">Moku : {{place.moku}}</li> 
											<li class="">Latitude : {{place.location.latitude}}</li> 
											<li class="">Longitude : {{place.location.longitude}}</li> 
											<li class="">Zoom : {{place.location.zoom}}</li> 
										</ul>
									</md-card-title-text> 
								</md-card-title> 
								<md-card-actions layout="column" flex="35"> 
									<md-button class="md-raised md-primary">Edit</md-button> 
									<md-button class="md-raised md-warn">Delete</md-button> 
								</md-card-actions> 
							</md-card>
						</div>
    				</div>
				</md-content> 
			</md-tab> 
			
			<md-tab label="Characters">
				<md-content class="md-padding"> 
					<h3>
						List of Characters
						<md-button type="button" ng-click="addCharacterDialog($event)" class="md-raised md-primary">
						Add Character </md-button>
					</h3>
					<div ng-repeat="actor in moolelo.actors">
						<div layout=row layout-margin
							<div>Name : {{actor.name}}</div>
						</div>
					</div>
				</md-content> 
			</md-tab> 
			<md-button class="md-raised md-primary"> 
				Create Mo'olelo
			</md-button>
		</md-tabs> 
		
	</md-content>
</div>
